In [3]:
type("wtre")

str

In [5]:
first_name = "Devansh"
last_name = "singh"

print("My first name is {} and my last name is {}".format(first_name,last_name))
print("My first name is {first} and my last name is {last}".format(first=first_name ,last=last_name))

My first name is Devansh and my last name is singh
My first name is Devansh and my last name is singh

Python list and Boolean variables

In [8]:
str = "devansh"
print(str.capitalize())
print(str.isalnum())
print(str.endswith('h'))

Devansh
True
True

Lists :-  A list is a data structure in python that is mutable, ordered sequence of elements , each element or value that is inside of a list called item, just as string are defined as character between quotes, list are delivered by having values between square brackets[]

In [9]:
list_example =[]
type(list_example)

list

In [10]:
lst = list()
type(lst)

list

In [ ]:
my_list = ["mango", "Apple","Cherries",10 , 12 ,1213.34, True , False]
print(my_list)
my_list.append("Banana") # Help us to add more item in the list 
my_list.insert(1,"PineApple") # Help to insert data at a specific index
print(my_list)

['mango', 'Apple', 'Cherries', 10, 12, 1213.34, True, False]
['mango', 'PineApple', 'Apple', 'Cherries', 10, 12, 1213.34, True, False, 'Banana']

Dictories and tupples

In [19]:
var_set = set()  #Initialzing the set 
print(var_set) 
print(type(var_set))

set()
<class 'set'>

In [25]:
var_set = {1,2, 3,4 ,4 ,3}
print(var_set)


Movies_set = set() 
Movies_set = {"Avenger" , "Iron man", "Hit man" , "Oculus"}
print(Movies_set)
Movies_set.add("Hulk")
print(Movies_set)

# there is no indexing in set for example you cant do Movies_set[0]

{1, 2, 3, 4}
{'Oculus', 'Hit man', 'Avenger', 'Iron man'}
{'Hulk', 'Avenger', 'Hit man', 'Oculus', 'Iron man'}

In [28]:
set1={"Avenger" ,"IronMan", "HitMan"}
set2 = {"Avenger", "IronMan", "HitMan", "Hulk2"}
# set2.difference(set1)
set1.intersection(set2)

{'Avenger', 'HitMan', 'IronMan'}

Dictionaries :- A dictionary is a collection which is unordered, chaneable and indexed, in python dictionaries are written with curly brackets, and they have key values pair

In [32]:
dict = {"Car1" : "Audi" , "Car2" : "BMW", "Car3" : "Mercedes Benz"}
type(dict)
print(dict)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz'}

In [33]:
# We can access the item values based on the keys
dict['Car1']

'Audi'

In [ ]:
 # we can even loop through-out the dictionaries keys
for x in dict: 
     print(x)

Car1
Car2
Car3

In [38]:
 # we can even loop through-out the dictionaries values 
for x in dict.values() : 
     print(x)

Audi
BMW
Mercedes Benz

In [39]:
# we can also check both keys and values 
for x in dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [40]:
# Adding item in dictionaries
dict["Car4"]="Audi S-class"
print(dict)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'Audi S-class'}

In [43]:
# nested dictionary 
car1_model =  {"mercedes" : 1960}
car2_model = {"Audi" : 1970}
car3_model = {"Ambassador" : 1980} 

dict = {"Car1" : car1_model , "Car2" : car2_model ,"Car3" : car3_model}
print(dict)

{'Car1': {'mercedes': 1960}, 'Car2': {'Audi': 1970}, 'Car3': {'Ambassador': 1980}}